extends ../shared/layout

block content
  .container
    h1 View users
    table.table.table-hover
      thead
        tr
          th Username
          th Email
          th(width="20%") ID
      tbody
        each user in collection
          tr
            td: a(href="/users/#{user.id}")=user.username
            td=user.email
            td=user.id