doctype html
html(lang="en")
  head
    //- //if lt IE 10
    //-   <script src="//cdnjs.cloudflare.com/ajax/libs/html5shiv/3.6.2/html5shiv.js" />
    //-   <script src="//cdnjs.cloudflare.com/ajax/libs/json3/3.2.4/json3.min.js" />
    meta(charset="utf-8")
    meta(name="viewport", content="width=device-width")
    meta(http-equiv='X-UA-Compatible', content='IE=edge,chrome=1')
    meta(name='viewport', content='width=device-width,initial-scale=1')

    block headerStyles
      link(rel="stylesheet", type="text/css", href="/css/style.min.css")
      if (adminSection)
        link(rel="stylesheet", type="text/css", href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css")
    
    title #{globalVars.title}
          
  body
    include navbar

    if (flash)
      .container
        .alert(class="alert-warning")
          p #{flash}

    div(data-bind="keyName", data-bind-value="testingValue")
    div(data-bind="keyName2", data-bind-value="testingValue2")
    div(data-bind="keyName3") test
    div(data-bind="keyName4")

    block content

    block footer
      footer.clearfix.container
        p.pull-right.text-primary Copyright #{globalVars.copyrightDate} #{globalVars.appName}
    
    block footerScripts
      script(type="text/javascript", src="/js/client.min.js")
      if (adminSection)
        script(type="text/javascript", src="/js/admin.min.js")