nav(role="navigation").navbar.navbar-inverse.navbar-static-top
  .container
    a(href="/").navbar-brand #{globalVars.appName}
    ul.nav.navbar-nav.pull-right
      li: a(href="/") Home
      li: a(href="/blog") Blog
      if (!user)
        li: a(href="/auth") Login
      else
        li: a(href="/auth/logout") Logout
