doctype html
html(lang="en")
  head
    //- //if lt IE 10
    //-   <script src="//cdnjs.cloudflare.com/ajax/libs/html5shiv/3.6.2/html5shiv.js" />
    //-   <script src="//cdnjs.cloudflare.com/ajax/libs/json3/3.2.4/json3.min.js" />
    meta(charset="utf-8")
    meta(name="viewport", content="width=device-width")
    meta(http-equiv='X-UA-Compatible', content='IE=edge,chrome=1')
    meta(name='viewport', content='width=device-width,initial-scale=1')
    block headerStyles
      link(rel="stylesheet", type="text/css", href="/css/style.min.css")

    title #{globalVars.title}

  body

    if (flash)
      .container
        .bs-alert #{flash}

    .container
      ul.bs-list.nav.flat.inline.pr
        li: a(href="/") Home
        li: a(href="/blog") Blog
        if (canPlayRoleOf('admin'))
          li: a(href="/admin") Dashboard
        if (user)
          li: a(href="/users") Users
          li: a(href="/auth/logout") Logout
        else
          li: a(href="/auth") Login

    block content

    block footer
      footer.cf.container
        p.pr.text-primary Copyright #{globalVars.copyrightDate} #{globalVars.appName}

    block footerScripts
      script(type="text/javascript", src="/js/client.min.js")