extends ../layout

block content
  .container
    h1 
      if (blog.created_date) 
        p.pull-right.small #{moment(blog.created_date).format('MMMM Do YYYY, h:mm:ss a')} 
      if (blog.title)
        a(href="#") !{marked(blog.title)}
    hr
    if (blog.body)
      P !{marked(blog.body)}
