.fadeIn {
  visibility: visible;
  opacity: 1;
  transition: opacity 1s linear;
  height: auto;
}

.fadeOut {
  visibility: hidden;
  opacity: 0;
  transition: visibility 0s .5s, opacity .5s linear;
  height: 0;
}